/node_modules
/public/storage
/public/css/*
/public/js/*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
/.tmp
Homestead.json
Homestead.yaml
.env.*
!.env.example
npm-debug.log
yarn-error.log
