language: php

php:
  - 7.0
  - 7.1

cache:
  directories:
  - vendor

notifications:
  email: false

before_script:
  - cp .env.testing .env
  - mysql -e 'create database orgmanager_test;'
  - travis_retry composer self-update
  - travis_retry composer update --no-interaction --prefer-source
  - php artisan key:generate
  - php artisan migrate

script:
  - phpunit --coverage-text --coverage-clover=coverage.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml
  - bash <(curl -s https://codecov.io/bash)
