@import "~bootswatch/flatly/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/flatly/bootswatch";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~bootstrap-social/bootstrap-social";
@import "~primer-alerts/build/build.css";
@import "~primer-avatars/build/build.css";
@import "~primer-blankslate/build/build.css";
@import "~primer-alerts/build/build.css";
@import "~primer-states/build/build.css";
@import "~primer-tooltips/build/build.css";
@import "app/styles";
